spring:

  application:
    name: task-tracker-service

  main:
    banner-mode: off

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  datasource:
    url: jdbc:postgresql://localhost:5432/task_tracker_db
    username: taskuser
    password: taskpass123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true
    show-sql: true

  security:
    user:
      name: admin
      password: admin

springdoc:

  api-docs:
    path: /api-docs

  show-actuator: true

  swagger-ui:
    enabled: true

server:
  port: 8080
